.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  align-items: center;
}

.trainings-and-services {
  font-family: "medium", sans-serif;
  color: #6a7582;
  font-size: 0.875rem;
}

.training-services-heading {
  font-family: "medium", sans-serif;
  color: #2a394e;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

.table-container {
  width: 85%;
  display: flex;
}

.column1 {
  flex: 1.5;
  margin-right: 20px;
}

.column2 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.row {
  display: flex;
  padding: 10px;
}

/*
.row:hover {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}*/

.left-part {
  font-family: "regular", sans-serif;
  width: 1.5rem;
  margin-right: 1rem;
}

.right-part {
  flex: 1;
}

.title {
  font-family: "semiBold", sans-serif;
  color: #2A394E;
  font-size: 14px;
  line-height: 20px;
}

.description {
  font-family: "medium", sans-serif;
  text-align: justify;
  font-size: 12px;
  margin-top: 5px;
  color: #6c757d;
  line-height: 20px;
}

.candlestick {
  width: 200px;
  height: 200px;
}

/*.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 23%;
  padding: 10px; 
  box-sizing: border-box; 
}

.product-details {
  flex: 1;
}
  
.product-image {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  align-self: center;
}
  
.product-title {
  font-size: 20px;
  margin-top: 15px;
}
  
.product-description {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
.add-to-cart {
  margin-top: 15px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 1px;
  border-color: black;
} 

.add-to-cart:hover {
  background-color: #28282B;
  color: white;
}*/
