body,
html,
#root,
#root > div {
  height: 100%;
  font-family: "regular";
}

.row > * {
  padding: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid .row {
  padding: 0;
}

.divider {
  background-color: silver;
}

/* font styles */
.light {
  font-family: "light";
}

.regular {
  font-family: "regular";
}

.medium {
  font-family: "medium";
}

.semi-bold {
  font-family: "semiBold";
}
