@font-face {
  font-family: "light";
  src: local("light"), url("./fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "regular";
  src: local("regular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "medium";
  src: local("medium"), url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "semiBold";
  src: local("semiBold"),
    url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
}
